<div id="<%= dom_id hotel %>">
  <p>
    <strong>Title:</strong>
    <%= hotel.title %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= hotel.address %>
  </p>

  <p>
    <strong>User:</strong>
    <%= hotel.user_id %>
  </p>

</div>
